<%= stylesheet_link_tag "#{params[:controller]}.mobile" %>

<div id="sign_in_body">
	<div id="sign_table">
		<center>
			<h2>Sign in:</h2>
		</center>
		<center>
			<form accept-charset="UTF-8" action="send_password_reset_instructions" method="post">
				<table>
				<tr>
					<td><h2><label for="sessions_email">Email: </label></h2></td>
					<td><input id="sessions_email" name="sessions[email]" type="text" /></td>
				</tr>
				<tr>
					<td></td>
					<td align="right"><input class="btn btn-large btn-primary" name="commit" type="submit" value="Send Email" /></td>
				</tr>
				</table>
			</form>
		</center>
	</div>
</div>