<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  <%= @poi.title %> has a new user uploaded image that needs to be approved before it gets put on the site for people to view.
</p>
<br />
<p>
  To appove this image please <a href="<%= @image_approve_url %>">click here.</a>
</p>
</body>
</html>