<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h2><%= @user.name %></h2>
<p>
	I am sorry to say but you have not been approved to become an artist. 
</p>
</body>
</html>