<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  <%= @user.name %> has requested that they want to become an artist on the page.
</p>
<br />
<p>
  To approve or disapprove <%= @user.name %> as an artist, please go <a href="<%= @approve %>">here</a> and say so.
</p>
</body>
</html>