<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h2>Congratulations <%= @user.name %>!</h2>
<p>
	You have been approved to become an artist on Wolf Point! Please click <a href="<%= @url_sign %>">here</a> to sign in and start putting your wolf on the website.
</p>
</body>
</html>