<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.cycle2.js"></script>

<%= stylesheet_link_tag "#{params[:controller]}.mobile" %>
	
<div id="content">
	<div id="all_images_content">
		<center>
			<h2>All Current POI Title Images</h2>
		</center>
		
		<div class="refTable">
			<center><div class="refRow">
				<% @poi.each do |poi| %>
	    			<% Dir.entries("public/images/#{poi.id}_images/title_image")[2..-1].each do |file_name| %>
	    				<% if file_name.byteslice(0,5).to_s.match(/_poi_/) %>
	    					<div class="refCell">
							<%= image_tag("#{@root_url}/images/#{poi.id}_images/title_image/" + file_name, :class=>"fadePic scale") %>
							<%= link_to "View #{poi.title}", "/pois/#{poi.id}", :class=>"info", 'data-no-turbolink' => true %></div>
							<div class="refSep"></div>
	    				<% end %>
	    			<% end %>
	    		<% end %>
	    		
			</div></center>
		</div>
	</div>
</div>