// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#each_comment_table {
  border: 2px solid black;
  width: 70%;
  background-color: #84978F;
  padding: 10px;
  margin: 20px auto;
  box-shadow: 10px 10px 5px #ADA692;
}

#each_comment_table img {
  width: 150px;
  height: auto;
}

#each_comment_table table td, th {
  padding: 5px;
}
